<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Alfiandri Putra Perdana">
  <meta name="description" content="Restauro | A Restaurant Apps">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com">
  <link rel="preconnect" href="https://storage.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="apple-touch-icon" href="../public/icons/icon-192x192.jpg" />
  <title>Restauro | A Restaurant Apps</title>
	<link
    rel="preload"
    crossorigin="anonymous"
    href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
    rel="preload"
    crossorigin="anonymous"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
</head>
<body>
	<a href="#maincontent" class="skip-link">Menuju ke konten</a>
	<header>
    <app-bar></app-bar>
	</header>

	<jumbo-tron
		header="fresh and delicious"
		sub="indonesian traditional food to delight the whole family"
	></jumbo-tron>

	<main id="maincontent"></main>

	<my-alert></my-alert>

	<footer-page></footer-page>

</body>
</html>
